<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>
  <h1>Your Loans</h1>
  <div class="grid">
    {{range .}}
    <a style="text-decoration: none; color: inherit;" href="/{{.ID}}">
      <div class="card">
        <h3>{{.Description}}</h3>
        <div class="row">
          <span class="label">Principal:</span>
          <span class="value">{{.Currency}} {{.Principal}}</span>
        </div>
        <div class="row">
          <span class="label">Interest:</span>
          <span class="value">{{.YearlyInterest}}%</span>
        </div>
        <div class="row">
          <span class="label">Due Date:</span>
          <span class="value date-field" data-raw-date={{.DueAt}} data-precision="day">Loading...</span>
        </div>
        <div class="row">
          <span class="label">Status:</span>
          <!-- Sets statusClass to "status" + {{.Status}} for formatting -->
          {{$statusClass := "status-default"}}
          {{if eq .Status "ACTIVE"}}
          {{$statusClass = "status-active"}}
          {{else if eq .Status "PAID_OFF"}}
          {{$statusClass = "status-paidoff"}}
          {{else if eq .Status "DEFAULTED"}}
          {{$statusClass = "status-defaulted"}}
          {{else if eq .Status "PENDING"}}
          {{$statusClass = "status-pending"}}
          {{end}}
          <span class="status {{$statusClass}}">
            {{.Status}}
          </span>
        </div>
      </div>
    </a>
    {{else}}
    <p>No loans found.</p>
    {{end}}
  </div>
</body>
<script type="module" src="js/home.js"></script>
<script type="module" src="js/formatDate.js"></script>

</html>
